# Environment
.env
.venv
.key
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
backend/__pycache__/
# Flask
instance/
flask_session/

# PilotDF - temp session data
uploads/
*.pkl
*.csv

# Exports
*.pdf

# IDE
.vscode/
.idea/
*.DS_Store

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

frontend/node_modules/
node_modules/
frontend/public